@use "../abstracts/mixins" as mixins;
// Fonts face

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Work+Sans:wght@600;700&display=swap');

@font-face {
  font-family: 'myriad_proregular';
  src: url('../../assets/fonts/myriad_pro_regular-webfont.woff2') format('woff2'),
  url('../../assets/fonts/myriad_pro_regular-webfont.woff') format('woff'),
  url('../../assets/fonts/myriad_pro_regular.ttf') format('ttf');;
  font-weight: normal;
  font-style: normal;
}

.section-title-tagline {
  display: block;
  text-align: center;
  font-family: var(--thm-font-3);
  font-size: mixins.toEm(20);
  font-weight: 400;
  color: var(--thm-secondary);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.section-title {
  font-family: var(--thm-font-2);
  font-weight: 700;
  text-align: center;
  font-size: mixins.toEm(60);
  margin-bottom: 32px;
  margin-top:4px;

  &--with-separator {
    position: relative;
    margin-bottom: 32px;

    &::after {
      content: '';
      position: absolute;
      bottom: -32px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 3px;
      background-color: var(--thm-black);
    }
  }
}