$body-color : #000108;
$text-muted: #0000001A;

$primary: #FB923C;
$primary-alt: #FC6620;
$primary-text: #FFFFFF;

$secondary: #73C920;
$secondary-alt: #76CA24;
$secondary-text: #FFFFFF;


$gray-100: #F9FAFB;
$gray-200: #F4F5F5;
$gray-300: #CCCCCD;
$gray-400: #788188;
$gray-500: #595654;


$default-font-family: "Open Sans", system-ui, sans-serif;
$alt-font-family: "myriad_proregular",  system-ui, sans-serif;

$headings-font-family: "Work Sans", system-ui, sans-serif;
$headings-font-weight: 700;

