$body-color : #000108;
$text-muted: #0000001A;

$primary: #FB923C;
$primary-alt: #FC6620;
$primary-text: #FFFFFF;

$secondary: #73C920;
$secondary-alt: #76CA24;
$secondary-text: #FFFFFF;

$neutral-colors: (
        "neutral-100": #F9FAFB,
        "neutral-200": #F4F5F5,
        "neutral-300": #CCCCCD,
        "neutral-400": #788188,
        "neutral-500": #595654,
);


