



// Custom BS Colors


// --------------------------------------------








.contact-one {
  font-family: var(--thm-font);
  color: var(--thm-gray);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.section-title__tagline {
  position: relative;
  display: inline-block;
  color: var(--green-agence);
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 22px;
}


.section-title__title {
  font-size: 60px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: none;
  margin-top: 4px;
  margin-bottom: 26px;

  span {
    color: var(--thm-base);
  }
}

.contact-one__content-text {
  color: var(--thm-black);
  line-height: 36px;
  font-weight: 600;
}

.contact-one__content .advice-box {
  position: relative;
  display: block;
  margin-top: 43px;
}

.contact-one__form-box {
  position: relative;
  display: block;
  max-width: 510px;
  width: 100%;
  margin-left: 55px;
  z-index: 1;
}

.contact-one__form {
  position: relative;
  background-color: #ffffff;
  padding: 47px 45px 55px;
  box-shadow: 0px 0px 40px 0px rgba(202, 198, 196, 0.35);
  z-index: 2;

  .form-box {
    position: relative;
    margin-top: 37px;
  }

  .form-group {
    position: relative;
    margin-bottom: 11px;

    input[type="text"],
    input[type="email"],
    textarea {
      position: relative;
      display: block;
      font-size: 16px;
      line-height: 25px;
      color: #18152c;
      font-weight: 400;
      padding: 14px 20px 15px;
      width: 100%;
      height: 60px;
      background-color: #ffffff;
      outline: none;
      border: 1px solid rgba(var(--thm-black-rgb), 0.2);
      transition: all 300ms ease;
    }
  }
}

.contact-one__form-box__btn {
  position: relative;
  margin-top: 29px;
}

.thm-btn {
  display: inline-block;
  vertical-align: middle;
  appearance: none;
  border: none;
  outline: none !important;
  background-color: var(--thm-base);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 17px 50px 17px;
  transition: all 0.3s linear;
  overflow: hidden;
  z-index: 1;
}
